<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>692174897878-stvdr72lrl9099rin6vf6ltc9ar9pspc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692174897878-stvdr72lrl9099rin6vf6ltc9ar9pspc</string>
	<key>API_KEY</key>
	<string>AIzaSyClgM8mc0xIeft0xZR0ZroyUElC20pbahc</string>
	<key>GCM_SENDER_ID</key>
	<string>692174897878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipf.Social-app</string>
	<key>PROJECT_ID</key>
	<string>soocial-app</string>
	<key>STORAGE_BUCKET</key>
	<string>soocial-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:692174897878:ios:ef3bbac5b67dd891</string>
	<key>DATABASE_URL</key>
	<string>https://soocial-app.firebaseio.com</string>
</dict>
</plist>